<%= div_for post do %>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p><%= time_ago_in_words(post.published_at) %> ago</p>
  <p><%= post.body %></p>
  <p>Comments(<%= post.comments.count %>)</p>
  <ul>
    <% post.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end%>
  </ul>
<% end %>